:root{
    --navBarHeight: 60px;
    --min-body-height: calc(100vh - var(--navBarHeight));
}

body {
    font-family: 'Roboto', sans-serif;
}

.app-body{
    min-height: var(--min-body-height);
    background-color: #e9ecef;
}

.text-white {
    color: #fff !important;
}

.app-navbar{
    height: var(--navBarHeight);
}

.full-body-height{
    min-height: var(--min-body-height);
}