:root{
    --navBarHeight: 60px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-white {
    color: #fff !important;
}

.app-navbar{
    height: var(--navBarHeight);
}

.full-body-height{
    min-height: calc(100vh - var(--navBarHeight));
}